/* 目次作る */


/* 1 Reset --------------------- */

/* 2 Font ---------------------- */
body{
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #333;
    /* 游明朝体 */
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    background-color: #fff;
}

/* 3 Link ---------------------- */
a:link, a:visited{
    color:#000;
    text-decoration: none;
}
a:hover, a:active{
    color: #ccc;
    text-decoration: none;
}

/* 4 header ---------------------------- */
header{
    width: 100%;
    /* max-width: 1240px; */
    height: 80px;
    position: fixed;
    top:0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);

    /* position: relative; /* 相対配置 親の基点 */
    /* opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
    /* opacity: 1; */
    /* overflow: hidden;
    z-index: 2; */

}

header .container{
    width: 1240  px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

header nav{
    width: 100%;
    position: relative;
}

header nav .container h1{
    margin-top: 15px;
    margin-bottom: 15px;
    /* margin-left: 150px; */
    position: absolute;
    left: 150px;
}

header nav .container h1:hover{
    opacity: 0.5;
    transition: all 0.5s ease-out;
}

header nav .container h1 img{
    width: 180px;
    height: auto;
}

header nav .container ul{
    width: 560px;
    height: 64px;
    font-size: 15px;s
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 30px;
    padding: 0 100px;
    position: absolute;
    right: 50px;
}

header nav ul li a{
  transition: all 0.5s ease-out;
}

header nav ul li.current a{
    box-sizing: border-box; /* padding と borderがwidthとheightに含まれる */
    border-bottom: 2px #CCC solid;
    color: #CCC;
}



    /* opacity: 0; */
  /* animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
    /* opacity: 1; */
    /* overflow: hidden;
    z-index: 2; */



/* 5 slider ---------------------- */

.slider{
    width: 100%;
    height: 510px;
    /* padding-bottom: 400px;
    padding-top: 100px; */
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* opacity: 1; */
    z-index: 2;
    /* top: 100px; */
    /* position: absolute; */
    /* left: 0;
    top: 200px; */
}

.slick-track{
  height:510px;
  z-index: 2;
  /* top: 100px; */
}

.slide1{
  background: url(../img/main01.jpg) top center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide2{
  background: url(../img/main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide3{
  background: url(../img/main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide4{
  background: url(../img/concept_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide5{
  background: url(../img/concept_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide6{
  background: url(../img/concept_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide7{
  background: url(../img/products_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide8{
  background: url(../img/products_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide9{
  background: url(../img/products_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide10{
  background: url(../img/history_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide11{
  background: url(../img/history_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide12{
  background: url(../img/history_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide13{
  background: url(../img/factory_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide14{
  background: url(../img/factory_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide15{
  background: url(../img/factory_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide16{
  background: url(../img/factory_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide17{
  background: url(../img/factory_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide18{
  background: url(../img/factory_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}


.slide19{
  background: url(../img/company_main01.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide20{
  background: url(../img/company_main02.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}

.slide21{
  background: url(../img/company_main03.jpg) center center no-repeat;
  background-size: cover; /* 背景画像の拡大縮小 */
}



/* loader ------------------------------*/
/* .loader-cotainer{
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: 400px;
    z-index: 1;
}
.sk-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 */


/*  title ---------------------- */

.title{
    margin-top: 50px;
    font-size: 15px;
    margin-left: 150px;
}

.company_title{
    /* margin-top: 50px; */
    font-size: 15px;
    margin-left: 150px;
}


/* 6 top_text ---------------------- */

#alltext{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    clear:both; /* float解除 */

}

#alltext h2{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: 1px;

}

.text01{
      /* 游ゴシック体 */
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

.btn{
    width: 268px;
    height: 44px;
    margin: 64px auto 0;
    margin-bottom: 70px;
    border: 1px solid #ccc;
}

.btn .material-icons{
  transform: translateY(0.375rem);

}


.btn a{
    display: block;
    width: 268px;
    height: 44px;
    background-color: rgba(255,255,255,1);
    /* font-family: 'Montserrat',sans-serif; */
    font-size: 16px;
    /* color: #FFF; */
    letter-spacing: 0.2rem;
    line-height: 2.8;
    transition: all 1s ease-out;
}
.btn a:hover{
    background-color: rgba(255,255,255,0.6);
}
.btn a i{
    transform: translate(0,7px);
    transition: all 1s ease-out;
}
.btn a:hover i{
    transform: translate(30px,7px);
}


#container_topunder{
  display: flex;
  justify-content: space-between;

}




/* 7 concept ---------------------- */

#concept_container{
  display: flex;
  justify-content: space-between;
}

#concept_ja{
  width: 500px;
  margin-left: 150px;
  margin-right: 100px;

}

#concept_ja h2{
  /* font-weight: bold; */
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#concept_ja .midashi{
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
}

#concept_ja p span{
      display: block;
      /* margin-left: 7em; */
}

#concept_en{
  width: 450px;
  margin-right: 50px;
  font-size: 10px;
}

#concept_en h2{
  font-size: 15px;
  margin-bottom: 10px;
}

#concept_en figure{
  margin-top: 20px;
}

/* 8 products ---------------------- */


#products_container{
      display: flex;
      justify-content: space-between;
      /* width:1000px;
      height: 100%;
      margin: auto; */
    }

#products_uematsu{
      width: 450px;
      margin-left: 150px;
      /* font-size: 12px; */
    }

#products_uematsu h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
}

#products_uematsu ul li{
      margin-left: 1em;
}


#products_uematsu ul li span{
      display: block;
      margin-left: 5em;
}

#products_uematsu ul li span.shokuyo{
      /* display: block; */
      margin-left: 8em;
}

#products_maruhi{
      width: 450px;
      margin-right: 100px;
      /* font-size: 12px; */
      border-left: 1px #c3c4c5 solid;
      padding-left: 70px;
    }

#products_maruhi h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#products_maruhi ul li{
      margin-left: 1em;
}


#products_maruhi ul li span{
      display: block;
      margin-left: 5em;
}


    /* 9 history ---------------------- */

#history{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    clear:both; /* float解除 */
    /* opacity: 0; */
}

#history h2{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

#history dl{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-top: 1px solid #ccc;
    letter-spacing: 0.5px;
    }

#history dt{
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  padding: 10px 10px 0 10px;
  /* border-bottom: 1px solid #ccc; */
}

#history dd{
  float: left ;
  margin-left: 60px ;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0.5em;
  text-align: left;
  padding: 10px 10px 0 10px;
}

/* 8 factory ---------------------- */

#factory{
      width: 450px;
      margin-left: 150px;
      /* font-size: 12px; */
    }

#factory h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
}

#factory .factorytext{
      margin-top: 20px;
}


/* 8 ACCESS ---------------------- */



#access{
      width: 450px;
      margin-left: 150px;
      /* font-size: 12px; */
    }

#access h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
}
#access ul li span{
  display: block;
  /* margin-left: 5em; */

}



/* 9 company ---------------------- */


#company_container{
      display: flex;
      justify-content: space-between;
    }

#company_information{
      width: 450px;
      margin-left: 150px;
      /* font-size: 12px; */
      margin-right: 40px;
    }

#company_information .company_title{
      /* margin-top: 50px; */
      font-size: 15px;
      margin-left: 0;
}

#company_information h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
}

#company_information ul li{
      margin-left: 1em;
}


#company_information ul li span{
      display: block;
      margin-left: 7em;
}


#company_saiyo{
      width: 450px;
      margin-right: 100px;
      /* font-size: 12px; */
      border-left: 1px #c3c4c5 solid;
      padding-left: 70px;

    }

#company_saiyo .company_title{
      /* margin-top: 50px; */
      font-size: 15px;
      margin-left: 0;
    }

#company_saiyo h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*  footer ---------------------- */

.googlemap{
    width: 100%;
    height: 510px;
    left: 0;
    top: 500px;
    margin-top: 80px;

}

.googlemap iframe{
  width: 100%;
  height: 510px;

}

/*  footer ---------------------- */

footer{
    align-items: center;
    font-size: 10px;
    border-top: 1px solid ;
    border-color:#c3c4c5;
    padding-top: 5px;
    display: flex;
      justify-content:space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 30px;


}

.footer-nav-sns{
    font-size: 20px;
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*  fade-in ---------------------- */

.fade-in{
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.fade-in2{
    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
